<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">MyPage</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse align-items-center" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Additional pages
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/404">Page error</a></li>
                        <li><a class="dropdown-item" href="/500">Server error</a></li>
                        <li><a class="dropdown-item" href="/headers">Show response headers</a></li>

                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/about/3">Get param test</a></li>
                        <li><a class="dropdown-item" href="/api/tours_json">Get response JSON</a></li>
                        <li><a class="dropdown-item" href="/api/tours_xml">Get response XML</a></li>

                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/test_without_layout">Without layout</a></li>
                        <li><a class="dropdown-item" href="/test_custom_layout">Custom layout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>