<form autocomplete="off" action="/weatherApiAllTimeInDay" method="get" class="mb-5 mt-4">
    <label for="myInput" class="form-label ">Choose a Polish city or write any other city in the world </label>
    <div class="autocomplete" >
        <input class="form-control" list="datalistOptions" id="myInput" aria-describedby="cityDataListHelp" placeholder="Type to search..." name="city">
    </div>
    <div class="d-grid gap-3 my-2">
        <button type="submit" class="btn btn-outline-success ">Search</button>
    </div>
</form>