<h1>About Meadowlark Travel</h1>

{{#if fortune}}
    <p>Twoja przepowiednia na dziś:</p>
    <blockquote>{{fortune}}</blockquote>
{{/if}}

{{#if test}}
    <h1>{{ test }}</h1>
{{/if}}


<hr>
<p>Cookie test</p>
{{#if xxx}}
    <blockquote>{{xxx}}</blockquote>
    <a href="?del=xxx">delete Cookie xxx</a>
{{/if}}