<div class="text-center p-3 mb-2 bg-success text-white my-5">
    <b class="">Files and data send  was successful! <br> Thanks!</b>
    <br>
    <a href="/" class="text-dark">Go back to the main page</a>
</div>